
.subject .form-group.col-md-4 {
  width: 400px;
}
.e-style {
  margin-top: 20px !important;
}

.y-date {
  margin-left: 12px;
}

.genderLbl {
  margin-top: -20px;
}

.e-label {
  margin-right: 10px;
  margin-left: -5px;
}

.px-15 {
  padding: 0 15px;
}

.switch-label {
  margin-top: -20px;
}

.clearfix {
  clear: both;
}
.subjectImage{
  height: 100px;
}